.inputContainer{
    
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 0px 20px;
}

.inputToDo{
    width: calc(80% - 50px);
    padding: 10px; 
}

.inputToDoBtn{
    width: 20%;
    margin-left: 20px;
    padding: 10px;
}